Flask==2.3.2
Flask-SQLAlchemy==3.0.5
psycopg2-binary==2.9.6  # For PostgreSQL connection
python-dotenv==1.0.0  # To manage environment variables
marshmallow==3.20.1  # For object serialization and validation
marshmallow-sqlalchemy==0.29.0  # For Marshmallow integration with SQLAlchemy
flask-marshmallow==0.15.0  # For easy integration between Flask and Marshmallow
SQLAlchemy==2.0.20  # ORM
gunicorn==21.2.0  # For deploying the Flask app on AWS Elastic Beanstalk
pandas==2.1.0  # For data processing during ingestion and analysis
Flask-RESTful==0.3.9  # For creating the REST API
Flask-Swagger-UI==3.36.0  # For Swagger/OpenAPI documentation
